body {
    font-family: Arial;
    padding: 30px;
    background: #f5f5f5;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

th {
    background: #333;
    color: white;
}

.btn {
    display: inline-block;
    padding: 8px 12px;
    background: green;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: blue;
}

.AA{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.BB{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
    gap: 2px;
    padding-bottom: 10px;
}
.CC{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #c8c3c3;
    background-color:white;
    padding-bottom: 10px;
    border-radius: 5px;
}
 

/* 
body {
    font-family: Arial, sans-serif;
    background: #f4f7fa;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-btn {
    padding: 8px 15px;
    background: #2ecc71;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 20px 0;
}

.card {
    flex: 1 1 180px;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.card h4 {
    margin: 0;
    font-size: 14px;
    color: gray;
}

.card p {
    font-size: 20px;
    font-weight: bold;
    margin-top: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

thead {
    background: #2c3e50;
    color: white;
}

th, td {
    padding: 12px;
    text-align: center;
}

tr:nth-child(even) {
    background: #f9f9f9;
}

.gender.male {
    background: #d6eaf8;
    padding: 5px 10px;
    border-radius: 20px;
}

.gender.female {
    background: #f9d5ec;
    padding: 5px 10px;
    border-radius: 20px;
}

.dept {
    background: #e8f8f5;
    padding: 5px 10px;
    border-radius: 20px;
}

.edit {
    text-decoration: none;
    padding: 5px 10px;
    background: #3498db;
    color: white;
    border-radius: 5px;
}

.delete {
    text-decoration: none;
    padding: 5px 10px;
    background: #e74c3c;
    color: white;
    border-radius: 5px;
} */
